*{
  margin: 0px;
  padding: 0px;
}

.header h1{
  background-color:  rgb(212, 255, 255);
  padding: 20px;
  text-align: center;
}   
.header ul{
  background-color: rgba(7, 7, 7, 0.781);
  display: flex;
  
  justify-content: space-evenly;
  list-style-type: none;
  height: 50px;
  align-items: center;
  font-weight: 600;
  font-size: larger;
}
.header a{
  color: white;
  text-decoration: none;
}
.header a:hover{
  color: rgb(78, 204, 204);
  cursor: pointer;
}